In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('taxi_trip_data.csv')
df=df.iloc[0:7000,]
df.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id
0,2,2018-03-29 13:37:13,2018-03-29 14:17:01,1,18.15,3,N,1,70.0,0.0,0.0,16.16,10.50,0.3,96.96,161,1
1,2,2018-03-29 13:37:18,2018-03-29 14:15:33,1,4.59,1,N,1,25.0,0.0,0.5,5.16,0.00,0.3,30.96,13,230
2,2,2018-03-29 13:26:57,2018-03-29 13:28:03,1,0.30,1,N,1,3.0,0.0,0.5,0.76,0.00,0.3,4.56,231,231
3,2,2018-03-29 13:07:48,2018-03-29 14:03:05,2,16.97,1,N,1,49.5,0.0,0.5,5.61,5.76,0.3,61.67,231,138
4,2,2018-03-29 14:19:11,2018-03-29 15:19:59,5,14.45,1,N,1,45.5,0.0,0.5,10.41,5.76,0.3,62.47,87,138

In [4]:
df.dropna(inplace=True)
df.drop_duplicates().reset_index(drop=True)
df['pickup_datetime']=pd.to_datetime(df['pickup_datetime'])
df['dropoff_datetime']=pd.to_datetime(df['dropoff_datetime'])
datetime_dim=df[['pickup_datetime','dropoff_datetime']]
datetime_dim.head()

      pickup_datetime    dropoff_datetime
0 2018-03-29 13:37:13 2018-03-29 14:17:01
1 2018-03-29 13:37:18 2018-03-29 14:15:33
2 2018-03-29 13:26:57 2018-03-29 13:28:03
3 2018-03-29 13:07:48 2018-03-29 14:03:05
4 2018-03-29 14:19:11 2018-03-29 15:19:59

In [5]:
datetime_dim.drop_duplicates().reset_index(drop=True)

         pickup_datetime    dropoff_datetime
0    2018-03-29 13:37:13 2018-03-29 14:17:01
1    2018-03-29 13:37:18 2018-03-29 14:15:33
2    2018-03-29 13:26:57 2018-03-29 13:28:03
3    2018-03-29 13:07:48 2018-03-29 14:03:05
4    2018-03-29 14:19:11 2018-03-29 15:19:59
...                  ...                 ...
6995 2018-03-22 10:20:45 2018-03-22 10:40:46
6996 2018-03-22 11:04:10 2018-03-22 11:23:08
6997 2018-03-22 11:24:43 2018-03-22 11:46:41
6998 2018-03-22 11:58:04 2018-03-22 12:30:05
6999 2018-03-22 11:38:18 2018-03-22 12:06:28

[7000 rows x 2 columns]

In [6]:
datetime_dim['pick_hour']=datetime_dim['pickup_datetime'].dt.hour
datetime_dim['pick_month']=datetime_dim['pickup_datetime'].dt.month
datetime_dim['pick_year']=datetime_dim['pickup_datetime'].dt.year
datetime_dim['pick_day']=datetime_dim['pickup_datetime'].dt.day
datetime_dim['pick_weekday']=datetime_dim['pickup_datetime'].dt.weekday
datetime_dim['drop_hour']=datetime_dim['dropoff_datetime'].dt.hour
datetime_dim['drop_month']=datetime_dim['dropoff_datetime'].dt.month
datetime_dim['drop_year']=datetime_dim['dropoff_datetime'].dt.year
datetime_dim['drop_day']=datetime_dim['dropoff_datetime'].dt.day
datetime_dim['drop_weekday']=datetime_dim['dropoff_datetime'].dt.weekday
datetime_dim['datetime_id']=datetime_dim.index
datetime_dim=datetime_dim[['datetime_id','pickup_datetime','dropoff_datetime','pick_hour','pick_month','pick_year','pick_day','pick_weekday','drop_hour','drop_month','drop_year','drop_day','drop_weekday']]
datetime_dim.head()

C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1725579610.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datetime_dim['pick_hour']=datetime_dim['pickup_datetime'].dt.hour
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1725579610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datetime_dim['pick_month']=datetime_dim['pickup_datetime'].dt.month
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1725579610.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datetime_dim['pick_year']=datetime_dim['pickup_datetime'].dt.year
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1725579610.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datetime_dim['pick_day']=datetime_dim['pickup_datetime'].dt.day
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1725579610.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datetime_dim['pick_weekday']=datetime_dim['pickup_datetime'].dt.weekday
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1725579610.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datetime_dim['drop_hour']=datetime_dim['dropoff_datetime'].dt.hour
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1725579610.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datetime_dim['drop_month']=datetime_dim['dropoff_datetime'].dt.month
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1725579610.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datetime_dim['drop_year']=datetime_dim['dropoff_datetime'].dt.year
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1725579610.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datetime_dim['drop_day']=datetime_dim['dropoff_datetime'].dt.day
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1725579610.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datetime_dim['drop_weekday']=datetime_dim['dropoff_datetime'].dt.weekday
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1725579610.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datetime_dim['datetime_id']=datetime_dim.index

,datetime_id,pickup_datetime,dropoff_datetime,pick_hour,pick_month,pick_year,pick_day,pick_weekday,drop_hour,drop_month,drop_year,drop_day,drop_weekday
0,0,2018-03-29 13:37:13,2018-03-29 14:17:01,13,3,2018,29,3,14,3,2018,29,3
1,1,2018-03-29 13:37:18,2018-03-29 14:15:33,13,3,2018,29,3,14,3,2018,29,3
2,2,2018-03-29 13:26:57,2018-03-29 13:28:03,13,3,2018,29,3,13,3,2018,29,3
3,3,2018-03-29 13:07:48,2018-03-29 14:03:05,13,3,2018,29,3,14,3,2018,29,3
4,4,2018-03-29 14:19:11,2018-03-29 15:19:59,14,3,2018,29,3,15,3,2018,29,3

In [7]:
passenger_count_dim=df[['passenger_count']]
passenger_count_dim['passenger_count_id']=passenger_count_dim.index
passenger_count_dim=passenger_count_dim[['passenger_count_id','passenger_count']]
passenger_count_dim.head()

C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1572640908.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passenger_count_dim['passenger_count_id']=passenger_count_dim.index

   passenger_count_id  passenger_count
0                   0                1
1                   1                1
2                   2                1
3                   3                2
4                   4                5

In [8]:
trip_distance_dim=df[['trip_distance']]
trip_distance_dim['trip_distance_id']=trip_distance_dim.index
trip_distance_dim=trip_distance_dim[['trip_distance_id','trip_distance']]
trip_distance_dim.head()

C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\3167243977.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_distance_dim['trip_distance_id']=trip_distance_dim.index

   trip_distance_id  trip_distance
0                 0          18.15
1                 1           4.59
2                 2           0.30
3                 3          16.97
4                 4          14.45

In [9]:
pickup_dim=df[['pickup_location_id']]
pickup_dim['pickup_id']=pickup_dim.index
pickup_dim=pickup_dim[['pickup_id','pickup_location_id']]
pickup_dim.head()

C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1951320580.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pickup_dim['pickup_id']=pickup_dim.index

   pickup_id  pickup_location_id
0          0                 161
1          1                  13
2          2                 231
3          3                 231
4          4                  87

In [10]:
dropoff_dim=df[['dropoff_location_id']]
dropoff_dim['dropoff_id']=dropoff_dim.index
dropoff_dim=dropoff_dim[['dropoff_id','dropoff_location_id']]
dropoff_dim.head()

C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\3877991429.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropoff_dim['dropoff_id']=dropoff_dim.index

   dropoff_id  dropoff_location_id
0           0                    1
1           1                  230
2           2                  231
3           3                  138
4           4                  138

In [11]:
d1={
    1:'Standard Rate',
    2:'JFK',
    3:'Newark',
    4:'Nassau',
    5:'Negotiated Fare',
    6:'Group Ride'
}
rate_code_dim=df[['rate_code']]
rate_code_dim['rate_code_id']=rate_code_dim.index
rate_code_dim['rate_code_name']=rate_code_dim['rate_code'].map(d1)
rate_code_dim=rate_code_dim[['rate_code_id','rate_code','rate_code_name']]
rate_code_dim.head()

C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1227408119.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rate_code_dim['rate_code_id']=rate_code_dim.index
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1227408119.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rate_code_dim['rate_code_name']=rate_code_dim['rate_code'].map(d1)

   rate_code_id  rate_code rate_code_name
0             0          3         Newark
1             1          1  Standard Rate
2             2          1  Standard Rate
3             3          1  Standard Rate
4             4          1  Standard Rate

In [12]:
d2={
    1:'Credit Card',
    2:'Cash',
    3:'No charge',
    4:'Dispute',
    5:'Unknown',
    6:'Voided trip'
}
payment_type_dim=df[['payment_type']]
payment_type_dim['payment_type_id']=payment_type_dim.index
payment_type_dim['payment_name']=payment_type_dim['payment_type'].map(d2)
payment_type_dim=payment_type_dim[['payment_type_id','payment_type','payment_name']]
payment_type_dim.head()

C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1879088914.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  payment_type_dim['payment_type_id']=payment_type_dim.index
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\1879088914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  payment_type_dim['payment_name']=payment_type_dim['payment_type'].map(d2)

   payment_type_id  payment_type payment_name
0                0             1  Credit Card
1                1             1  Credit Card
2                2             1  Credit Card
3                3             1  Credit Card
4                4             1  Credit Card

In [13]:
fact_table=df[['vendor_id','fare_amount','extra','mta_tax','tip_amount','tolls_amount','imp_surcharge','total_amount']]
fact_table['payment_type_id']=payment_type_dim['payment_type_id']
fact_table['rate_code_id']=rate_code_dim['rate_code_id']
fact_table['dropoff_id']=dropoff_dim['dropoff_id']
fact_table['pickup_id']=pickup_dim['pickup_id']
fact_table['trip_distance_id']=trip_distance_dim['trip_distance_id']
fact_table['passenger_count_id']=passenger_count_dim['passenger_count_id']
fact_table['datetime_id']=datetime_dim['datetime_id']
fact_table.head()

C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\2242315743.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['payment_type_id']=payment_type_dim['payment_type_id']
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\2242315743.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['rate_code_id']=rate_code_dim['rate_code_id']
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\2242315743.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['dropoff_id']=dropoff_dim['dropoff_id']
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\2242315743.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['pickup_id']=pickup_dim['pickup_id']
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\2242315743.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['trip_distance_id']=trip_distance_dim['trip_distance_id']
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\2242315743.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['passenger_count_id']=passenger_count_dim['passenger_count_id']
C:\Users\Sriva\AppData\Local\Temp\ipykernel_12940\2242315743.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['datetime_id']=datetime_dim['datetime_id']

,vendor_id,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,payment_type_id,rate_code_id,dropoff_id,pickup_id,trip_distance_id,passenger_count_id,datetime_id
0,2,70.0,0.0,0.0,16.16,10.50,0.3,96.96,0,0,0,0,0,0,0
1,2,25.0,0.0,0.5,5.16,0.00,0.3,30.96,1,1,1,1,1,1,1
2,2,3.0,0.0,0.5,0.76,0.00,0.3,4.56,2,2,2,2,2,2,2
3,2,49.5,0.0,0.5,5.61,5.76,0.3,61.67,3,3,3,3,3,3,3
4,2,45.5,0.0,0.5,10.41,5.76,0.3,62.47,4,4,4,4,4,4,4

In [14]:
dfs = {'Sheet1': fact_table, 'Sheet2': payment_type_dim, 'Sheet3': rate_code_dim, 'Sheet4': dropoff_dim, 'Sheet5': pickup_dim, 'Sheet6': trip_distance_dim, 'Sheet7': passenger_count_dim, 'Sheet8': datetime_dim}

# Provide the Excel file name
excel_file_name = 'output.xlsx'

# Create an Excel writer object
with pd.ExcelWriter(excel_file_name) as writer:
    for sheet_name, df in dfs.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)